@(loginForm: Form[Login])

@main("Login Page") {

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @helper.form(action = routes.SomeController.authenticate) {
                <h1>Sign In</h1>
                <p>
                    <input type="text" name="login" placeholder="Login" class="form-control">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </p>
                <p>
                    <button class="btn btn-success" type="submit">Login</button>
                </p>
                }
        </div>
    </div>
</div>
}