@()

@main("Secret Page") {

<div class="container">
    <div class="row">
        <h3>Some secret information must be here.</h3>
        <h4>Your login is @ctx().session().get("login")</h4>
        @helper.form(action = routes.SomeController.logout) {
        <p>
            <button class="btn btn-success" type="submit">Logout</button>
        </p>
        }
    </div>
</div>
</div>
}